/* src/App.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.column {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 8px;
  border: 1px solid rgb(241, 128, 128);
  margin-bottom: 8px;
  background-color: #f3f57e;
  border-radius: 4px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e0e0e0;
}

input,
button {
  padding: 8px;
  margin-right: 8px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
